.square {
    width: 50px;
    height: 50px;
    border-color: aquamarine;
    border-radius: 10px;
}

.board-row {
    display: flex;
}

.board-row button:hover {
    background-color: palevioletred;
    color: white;
}
